<!-- start content-outer -->
<div class="alert alert-danger" ng-show="ListaMensajes.length>0" ng-click="ListaMensajes=[]">
    <ul>
        <li ng-repeat="unMensaje in ListaMensajes">
            <strong> Error : {{unMensaje.datos}}</strong>
            {{unMensaje.mensaje}}
        </li>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="ListaMensajes=[]">X</button>
    </ul>
</div>
<div id="content-outer">
    <!-- start content -->
    <div id="content">


        <div id="page-heading"><h1>Add transaction</h1></div>


        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content-table">
            <tr>
                <th rowspan="3" class="sized"><img src="images/shared/side_shadowleft.jpg" width="20" height="300" alt="" /></th>
                <th class="topleft"></th>
                <td id="tbl-border-top">&nbsp;</td>
                <th class="topright"></th>
                <th rowspan="3" class="sized"><img src="images/shared/side_shadowright.jpg" width="20" height="300" alt="" /></th>
            </tr>
            <tr>
                <td id="tbl-border-left"></td>
                <td>
                    <!--  start content-table-inner -->
                    <div id="content-table-inner">

                        <table border="0" width="100%" cellpadding="0" cellspacing="0">
                            <tr valign="top">
                                <td>

                                    <!-- start id-form -->
                                    <table border="0" cellpadding="0" cellspacing="0"  id="id-form">
                                        <tr>
                                            <th valign="top">Transaction ID</th>
                                            <td><input type="text" class="inp-form" ng-model="movimientoBancario.idMovimientoBancario" readonly/></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th valign="top">Choose Account</th>
                                            <td>	
                                                <select ng-model="movimientoBancario.cuentaBancaria.idCuentaBancaria"  ng-options="cuentaBancaria.idCuentaBancaria as cuentaBancaria.idCuentaBancaria for cuentaBancaria in cuentasBancarias">                                                       
                                                    <option value="">-- Choose Account --</option>
                                                </select>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th valign="top">Import</th>
                                            <td><input type="text" class="inp-form" ng-model="movimientoBancario.importe" /></td>
                                            <td>
                                                <div class="error-left" style="display: none"></div>
                                                <div class="error-inner" style="display: none">This field is required.</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th valign="top">Type:</th>
                                            <td>	
                                                <select ng-model="movimientoBancario.tipoMovimientoBancario"  ng-options="tipoMovimiento.valor as tipoMovimiento.nombre for tipoMovimiento in tipoMovimientos">                                                       
                                                    <option value="">-- Transaction Type --</option>
                                                </select>
                                                <!--<select  class="styledselect_form_1" ng-model="movimientoBancario.tipoMovimientoBancario">
                                                    <option value="Debe">Debe</option>
                                                    <option value="Haber">Haber</option>
                                                </select>-->
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th valign="top">Date:</th>
                                            <td><input type="text" class="inp-form" ng-model="movimientoBancario.fecha"/></td>
                                        </tr>

                                        <tr>
                                            <th valign="top">Concept:</th>
                                            <td><input type="text" class="inp-form" ng-model="movimientoBancario.concepto"/></td>
                                            <td>
                                                <div class="error-left" style="display: none"></div>
                                                <div class="error-inner" style="display: none">This field is required.</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <td valign="top">
                                                <a type="button" class="form-submit" ng-click="updateMovimientoBancario()">Accept</a>
                                                <input type="reset" value="Reset" class="form-reset"  />
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                    <!-- end id-form  -->

                                </td>
                            </tr>
                            <tr>
                                <td><img src="../images/shared/blank.gif" width="695" height="1" alt="blank" /></td>
                                <td></td>
                            </tr>
                        </table>
                        <div class="clear"></div>
                    </div>
                    <!--  end content-table-inner  -->
                </td>
                <td id="tbl-border-right"></td>
            </tr>

        </table>
        <div class="clear">&nbsp;</div>
    </div>
    <!--  end content -->
    <div class="clear">&nbsp;</div>
</div>
<!--  end content-outer -->